# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

name: Upload Python Package

on:
  push:
    tags: [ 'v*.*.*' ]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    # Specifying a GitHub environment is optional, but strongly encouraged
    environment: release
    permissions:
       # This permission is mandatory for trusted publishing
       id-token: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
