name: Lint and Commit
on: push

jobs:
  lint:
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - run: pip install ruff
    - run: ruff check .
#    - run:  ruff fix .
#    - uses: stefanzweifel/git-auto-commit-action@v4
#      with:
#        commit_message: 'style fixes by ruff'
